{% extends 'index.html' %} 
{% load static %} 

{% block title %} 
    Register 
{% endblock %} 


{% block content %}

    <form class = "form-layout w-75 mx-auto" action="" method="POST">
        <h2 class="text-center">Please Register</h2>
        <hr>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-primary w-100">Submit</button>
    </form>

    {% for message in messages %}
        {{ messages }}
    {% endfor %}
    <p class="text-center mt-3">Already have an account?  <span><a href="{% url 'login' %}">Login</a></span></p>

{% endblock %}