{% extends 'index.html' %} 
{% load static %} 

{% block title %} 
    Users
{% endblock %} 


{% block content %}

<body>
  <h1 class="container fs-2">This is the Home Page</h1>
  <br />


<ul>
  <li>
    <a href="http://127.0.0.1:8000/accounts/login">Login</a>
  </li>
  <li>
    <a href="http://127.0.0.1:8000/register">Register</a>
  </li>
  <li>
    <a href="http://127.0.0.1:8000/admin">Admin</a>
  </li>
  <li>
    <a href="http://127.0.0.1:8000/accounts/password_change/">Password Change</a>
  </li>
  <li>
    <a href="http://127.0.0.1:8000/accounts/password_change/done/">Password Change Done</a>
  </li>
  <li>
    <a href="http://127.0.0.1:8000/accounts/password_reset/">Password Reset</a>
  </li>
</ul>



<!-- <a href="http://127.0.0.1:8000/"></a> -->




<!-- accounts/login/ [name='login']
# accounts/logout/ [name='logout']
# accounts/password_change/ [name='password_change']
# accounts/password_change/done/ [name='password_change_done']
# accounts/password_reset/ [name='password_reset']
# accounts/password_reset/done/ [name='password_reset_done']
# accounts/reset/<uidb64>/<token>/ [name='password_reset_confirm']
# accounts/reset/done/ [name='password_reset_complete'] -->
</body>

{% endblock %}
